.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-layout-content {
  flex: 1 0 auto;
  min-width: 0;
}

.home-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .home-container {
    padding: 0 24px;
  }
}

.home-page-space {
  padding-top: 24px;
  padding-bottom: 24px;
}

.home-layout {
  min-height: 70vh;
  display: grid;
  gap: 14px;
  align-content: center;
}
